.header{
    height: 10vh;
    -webkit-box-shadow: 1px 12px 15px -5px rgba(0,0,0,0.61);
    box-shadow: 1px 12px 15px -5px rgba(0,0,0,0.61);
}

.headerWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}

.headerLogo {
    width: 70px;
    height: 30px;

}

.headerCrud {
    width: 70px;
    height: 30px;
    margin-left: 20px;
}

.buttonWrap {
    flex: 1;
}
.addButton {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
